body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f4f9f9;
    color: #333;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    width: 50%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

form input,
form textarea,
form button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

form input:focus,
form textarea:focus {
    border-color: #3a86ff;
    outline: none;
    box-shadow: 0 0 5px rgba(58, 134, 255, 0.5);
}

form textarea {
    resize: vertical;
    height: 100px;
}

form button {
    background-color: #06d6a0;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

form button:hover {
    background-color: #118ab2;
    transform: scale(1.05);
}

form button:active {
    transform: scale(1);
}

.back-link {
    display: block;
    margin: 20px auto;
    width: 150px;
    text-align: center;
    padding: 10px 0;
    background-color: #ff006e;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.back-link:hover {
    background-color: #8338ec;
}