<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'calendar_app/css/calendar.css' %}">
</head>

<body>
    <h1>Calendar for {{ month }}/{{ year }}</h1>

    <!-- Navigation Buttons -->
    <div class="navigation">
        <a href="{% url 'calendar_view' year=prev_year month=prev_month %}">&lt; Previous</a>
        <a href="{% url 'calendar_view' year=next_year month=next_month %}">Next &gt;</a>
    </div>

    <table>
        <tr>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th>Sa</th>
            <th>Su</th>
        </tr>
        {% for week in month_calendar %}
        <tr>
            {% for day in week %}
            <td class="{% if day in reminder_dates %}reminder-day{% endif %}">
                {% if day == 0 %}
                &nbsp;
                {% else %}
                <a href="{% url 'reminder_by_date' year=year month=month day=day %}">{{ day }}</a>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <h2>Reminders</h2>

    <a href="{% url 'add_reminder_url' %}">Add Reminder</a>
    
</body>
</html>
